table{
 width: 790px;
 border-collapse: collapse;
 text-align: center;
}

.titulo hr{
    max-width: 100px;
    width: 100%;
    margin-top: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #B51D44;
}
.titulo h1{
    text-transform: uppercase;
    color: black;
}

.imagemListagem{
    width: 35px;
}

.sub_eventos th{
   border-bottom: solid 1px #B51D44;
}
.listagemDoEvento{
border-collapse: collapse;
border-bottom: solid 1px black ;
}

.selecaoDeEventos{
border: none;
 border-bottom: 1px solid black;
 margin-bottom: 20px;
}

.corpoListagem{

}

.tabela_lista_eventos{
    
}

@media screen and (max-width:500px){
    .tabela_eventos{

    }
}