.home-banner img {
  width: 100%;
}

.home-eventos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
}

.tituloHome {
  display: flex;
}

.home-contato {
  padding: 40px 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.tituloHome {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.tituloHome h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.tituloHome hr {
  width: 60px;
  height: 3px;
  background-color: #c2185b;
  border: none;
  margin: 0 auto;
}

.contato-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  /* para adaptar em telas pequenas */
}

.contato-mapa img {
  max-width: 100%;
  width: 300px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato-info {
  font-size: 1rem;
  color: #444;
  max-width: 300px;
  line-height: 1.6;
}

.tituloHome hr {
  max-width: 200px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #B51D44;
}

.home-eventos hr {
  max-width: 200px;
  width: 100%;
  margin-top: 7px;
  margin-bottom: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #B51D44;
}

.eventos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-visao img {
  width: 100%;
  height: 458px;
}

.imagem-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.imagem-banner {
  width: 100%;
  height: auto;
  display: block;
}

.textoDaImagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 80%;
  border-radius: 8px;
}

.evento-card {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 250px;
  width: 225px;
  margin: 15px;
  border: 2px solid #821B47;
  font-size: small;
  border-radius: 5px;
}

.evento-link {
  color: #B51D44;
  text-decoration: none;
}